/* Importar fuentes de Google Fonts (ejemplo) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400&display=swap');



/* ---------------- Estilos Generales ---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #F0F0F0;
}

section{
    margin: 0rem 0.5rem 10rem;
}

img{
    width: 100%;
}

li {
    list-style: none;
}


/* ---------------- Header ---------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 1rem; /* Añadimos padding para que el logo no toque el borde */
}

.logo {
    margin-top: 0.5rem;
}

.logo img {
    width: 80px;
    border-radius: 50%;
    padding: 0.8rem;
}

/* Estilos para el botón del menú en móvil */
.menu-toggle {
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 100; /* Aseguramos que esté siempre por encima del menú */
}

.menu-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 0.5rem;
    background-color: #FFA500;
    transition: all 0.5s ease-in-out;
}

/* Estilos para el menú en móvil, oculto por defecto */
.menu {
    position: fixed; /* Mejor usar fixed para que ocupe todo el viewport */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #121212;
    display: flex;
    flex-direction: column; /* Alineamos los elementos en columna */
    justify-content: center;
    align-items: center;
    transform: translateX(-100%); /* Ocultamos el menú a la izquierda */
    transition: transform 0.5s ease-in-out;
    z-index: 99; /* Z-index menor que el del botón */
}

/* Clase para mostrar el menú cuando se hace clic */
.is_visible {
    transform: translateX(0) !important;
}


.menu a {
    color: #FFA500;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem 0;
    display: block;
    transition: opacity 0.3s;
    opacity: 0.6;
}

.menu a:hover {
    opacity: 1;
}


/* ---------------- Main ---------------- */

/*Section Hero*/
.hero{
    text-align: center;
    padding-bottom: 2rem;
}

.img-perfil{
    width: 150px;
    border: 0.2rem solid #FFA500;
    border-radius: 50%;
}

.hero-info p{
    margin: 2rem 0;
}

.btn{
    padding: 0.5rem;
    border: 0.2rem solid #FFA500;
    background-color: #FFA500;
    color: #121212;
    text-decoration: none; 
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
    margin: 0 0.5rem;
}

.btn:hover{
    background-color: #121212;
    color:#FFA500;
}

.title-section{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.title-section span{
    display: block;
    width: 30px;
    height: 3px;
    margin: 0.5rem;
    background-color: #FFA500;
}

/*Section About me*/
.about p {
    margin: 1rem 0;
}

.about h3{
    text-align: center;
    margin: 1.5rem 0;
}

.skills-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
    margin: 0.8rem;
}

.skills-list li{
    list-style: none;
    padding: 0.5rem;
    background-color: #FFA500;
    border-radius: 2rem;
    color: #121212;
}

/*Section Proyectos*/
.project-card {
    margin: 2rem 0;
    border: 0.2rem solid #FFA500;
    padding: 1rem 0.5rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-card img{
    width: 100%;
    border-radius: 0.8rem;
}

.project-links .btn:first-child{
    margin-right: 0.5rem;
}

/*Section Contact*/
.contact {
    text-align: center;
}

.contactme{
    margin: 2rem 0;
}

/* ---------------- Footer ----------------*/
footer {
    text-align: center;
}

/* ---------------- Media Queries ----------------*/
@media all and (min-width:800px){

.logo img{
    width: 100px;
}

.menu {
    position: static;
    display: flex;
    flex-direction: row; /* Volvemos a la dirección de fila */
    justify-content: flex-end; /* Alineamos a la derecha */
    align-items: center;
    width: auto;
    height: auto;
    transform: none; /* Quitamos la transformación */
    background-color: transparent;
    opacity: 1; /* Aseguramos que sea visible */
}

.menu a{
    font-size: 1.3rem;
    margin-right: 1rem;
}

.menu-toggle{
    display: none;
}

h1, h2{
    font-size: 3rem;
}

    .img-perfil {
    width: 200px;
}

.hero-content p {
    font-size: 1.5rem;
}

.contactme {
    font-size: 1.5rem;
}

.contact-info {
    font-size: 1.2rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.project-card {
    margin: 0;
}
}

 @media all and (min-width:1000px){
 
.hero-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 2rem;
}

.img-perfil {
    position: absolute;
    width: 250px;
    top: 50%;
    right: 12.5%;
    transform: translate(50%, -50%);
    z-index: 10;
    background-color: #121212;
}

.hero-info{
    border: 0.2rem solid #FFA500;
    padding: 1rem;
    width: 75%;
    margin: 0 auto;
}

.hero-info p{
    width: 60%;
    margin: 2rem auto;
} 

}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* ---------------- WeekFoods ----------------*/

/*Título e intro*/
.section-main-title, .section-intro-text{
    margin: 2rem auto;
    text-align: center;
}

.section-intro-text{
    width: 70%;
}

/*Secciones - Estilos generales*/

.project-subsection, .db-section, .challenges-section, .tech-stack-section{
    width: 90%;
    margin: 2rem auto;
    background-color: #1A1A1A;
    padding: 1rem;
    border-radius: 0.8rem;
}
/*Mismas características para todas las listas*/
.list li{
    background-color: #FFA500;
    padding: 0.5rem;
    margin: 1rem 0;
    color: #121212;
    border-radius: 0.5rem;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}



/*Cómo funciona*/
.project-subsection--even{
    flex-direction: row-reverse;
}

.feature-text-content h3, .project-subsection h3{
    color:#FFA500;
    margin: 2rem auto;
    font-size: 1.5rem;
}

.feature-text-content p{
    margin: 0.8rem auto;

}

.subsection-intro-text{
    margin: 2rem auto;
}

video{
    width: 100%;
    border: 0.2rem solid #FFA500;
    border-radius: 0.5rem;
    margin: 0 auto;
}

.feature-image{
    border: 0.2rem solid #FFA500;
    border-radius: 0.5rem;
}





/* ---------------- Media Queries ----------------*/
@media all and (min-width:800px){

    .content-wrapper{
        flex-direction: row;
        gap: 1rem;
    }

    .column {
        flex: 1;
    }
}

@media all and (min-width:1000px){
/*Cómo funciona*/
.project-subsection{

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

}

.project-subsection div{
    flex: 1;
}


}