/* Importar fuentes de Google Fonts (ejemplo) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400&display=swap');



/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #F0F0F0;
}

section{
    margin-bottom: 10rem;
}


/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.logo img{
    width: 80px;
    border-radius: 50%;
    padding: 0.8rem;
}

.menu-toggle{
    background-color: #121212;
    border: none;
    padding: 0.5rem; 
}

.menu-toggle span{
    display: block;
    width: 30px;
    height: 3px;
    margin: 0.5rem;
    background-color: #FFA500;
   transition: all 0.5s ease-in-out;
}

.menu{
    position: absolute;
    right: -100%;
    opacity: 0;
    bottom: 50%;
    transform: translateY(50%);
    display: flex;
    transition: all 0.5s ease-in-out;  
}

.is_visible{
    right: 15% !important;
    opacity: 1 !important;
}

.menu li{
    list-style: none;
    margin: 0 0.2rem;  
}

.menu a {
    color: #FFA500;
    text-decoration: none;
}

/* Main */
.hero{
    text-align: center;
}


.img-perfil{
    width: 150px;
    border: 0.2rem solid #FFA500;
    border-radius: 50%;
}

.hero p{
    margin: 2rem 0;
}

.btn{
    padding: 0.5rem;
    border: 0.2rem solid #FFA500;
    background-color: #FFA500;
    color: #121212;
    text-decoration: none; 
    border-radius: 2rem;
    margin: 0 0.5rem;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    background-color: #121212;
    color:#FFA500;
}

.title-section{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.title-section span{
    display: block;
    width: 30px;
    height: 3px;
    margin: 0.5rem;
    background-color: #FFA500;
}

.about p{
    margin: 0.5rem;
}

.about h3{
    text-align: center;
    margin: 1.5rem 0;
}

.skills-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
    margin: 0.8rem;
}

.skills-list li{
    list-style: none;
    padding: 0.5rem;
    background-color: #FFA500;
    border-radius: 2rem;
    color: #121212;
}

.projects-grid{
    margin: 0 0.5rem;
}

.project-card{
    margin: 2rem 0;
    border: 0.2rem solid #FFA500;
    padding: 0.5rem;
    border-radius: 0.8rem;

}

.project-card img{
    width: 100%;
    border-radius: 0.8rem;
}

.project-links a{


}